databases/elasticsearch/logs/*
databases/elasticsearch/plugins/*
databases/elasticsearch/data/*
databases/mariadb/data/*
databases/mariadb/databases/*
databases/mongodb/databases/*
databases/redis/data/*
nginx/logs/*
php/7.1/supervisor/cache/*
php/7.1/supervisor/conf.d/*
php/7.1/supervisor/cache/*
source/html/*