databases/elasticsearch/*/*
databases/elasticsearch24/*/*
databases/mariadb/data/*
databases/mariadb/databases/*
databases/mongodb/databases/*
databases/redis/data/*
nginx/conf.d/*
nginx/logs/*
php/*/supervisor/cache/*
php/*/supervisor/conf.d/*
source/html/*
python
os
docker-compose.os.yml
*/.DS_Store